<h2> <%=@user.username%>'s profile<h2>
    
<%# name*optional %>
<%# vital numbers: age, city, state %>
<%# headline/bio %>

<%# list of public campaigns %>
<a href='/characters/:id'>Characters</a>
