    <% if !!@message %>
        <p class="danger"><%=@message%></p>
        <% end %>
<div class='new-character'>
<form action='/characters' method='POST'>
    <p>Campaign: <input type='text' name='campaign' id='campaign' value='None'></p>
    <p>Character Name: <input type='text' name='char_name' id='char_name'></p>
    <p>Choose your character's race:</p>
    <ul class='race-select'>
        <li><label for='button-avian'>Avian</label>
            <input type='radio' name='race' value='Avian' id="button-avian"></li>
        <li><label for='button-human'>Human</label>
            <input type='radio' name='race' value='Human' id='button-human'></li>
        <li><label for='button-grognard'>Grognard</label>
            <input type='radio' name='race' value='Grognard' id='button-grognard'></li>
        <li><label for='button-avian'>Goblin</label>
            <input type='radio' name='race' value='Goblin' id='button-goblin'></li>
        <li><label for='button-avian'>Elf</label>
            <input type='radio' name='race' value='Elf' id='button-elf'></li>
        <li><label for='button-avian'>Dwarf</label>
            <input type='radio' name='race' value='Dwarf' id='button-dwarf'></li>
    </ul>
    
    <p>Choose your character's class:</p>
    <ul class='class-select'>
        <li><label for='button-warrior'>Warrior</label> 
            <input type='radio' name='char_class' value='Warrior' id='button-warrior'></li>
        <li><label for='button-healer'>Healer</label> 
            <input type='radio' name='char_class' value='Healer' id='button-healer'></li>
        <li><label for='button-sorceror'>Sorceror</label> 
            <input type='radio' name='char_class' value='Sorceror' id='button-sorceror'></li>
        <li><label for='button-thief'>Thief</label> 
            <input type='radio' name='char_class' value='Thief' id='button-thief'></li>
        <li><label for='button-bard'>Bard</label> 
            <input type='radio' name='char_class' value="Bard" id='button-bard'></li>
    </ul>
    <input type='submit' value='Create Character'>
</form>
</div>
<% if @char && @char.errors.any?%>
        <% @char.errors.full_messages.each do |e|%>
        <p class="danger"><%= e %></p>
    <% end %>
<% end %>