    <% if !!@message %>
        <p class="danger"><%=@message%></p>
        <% end %>
<div class='new-character'>
<form action='/characters' method='POST'>
    <p>Campaign: <input type='text' name='campaign' id='campaign' value='None'></p>
    <p>Character Name: <input type='text' name='char_name' id='char_name'></p>
    <p>Choose your character's race:</p>
    <ul>
    <label for='button-avian'>Avian</label>
    <input type='radio' name='race' value='Avian' id="button-avian">
    <label for='button-human'>Human</label>
    <input type='radio' name='race' value='Human' id='button-human'>
    <label for='button-grognard'>Grognard</label>
    <input type='radio' name='race' value='Grognard' id='button-grognard'>
    <label for='button-avian'>Goblin</label>
    <input type='radio' name='race' value='Goblin' id='button-goblin'>
    <label for='button-avian'>Elf</label>
    <input type='radio' name='race' value='Elf' id='button-elf'>
    <label for='button-avian'>Dwarf</label>
    <input type='radio' name='race' value='Dwarf' id='button-dwarf'>
    </ul>
    
    <p>Choose your character's class:</p>
    <ul>
    Warrior <input type='radio' name='char_class' value='Warrior'>
    Healer <input type='radio' name='char_class' value='Healer'>
    Sorceror <input type='radio' name='char_class' value='Sorceror'>
    Thief <input type='radio' name='char_class' value='Thief'>
    Bard <input type='radio' name='char_class' value="Bard">
    </ul>
    <input type='submit' value='Create Character'>
</form>
</div>
<% if @char && @char.errors.any?%>
        <% @char.errors.full_messages.each do |e|%>
        <p class="danger"><%= e %></p>
    <% end %>
<% end %>