    <% if !!@message %>
        <p class="danger"><%=@message%></p>
        <% end %>
<form action='/characters' method='POST'>
    Campaign: <input type='text' name='campaign' id='campaign' value='None'><br><br>
    Character Name: <input type='text' name='char_name' id='char_name'><br><br>
    Choose your character's race: <br>
    Avian <input type='radio' name='race' value='Avian'><br>
    Human <input type='radio' name='race' value='Human'><br>
    Grognard <input type='radio' name='race' value='Grognard'><br>
    Goblin <input type='radio' name='race' value='Goblin'><br>
    Elf <input type='radio' name='race' value='Elf'><br>
    Dwarf <input type='radio' name='race' value='Dwarf'><br><br>
    Choose your character's class: <br>
    Warrior <input type='radio' name='char_class' value='Warrior'><br>
    Healer <input type='radio' name='char_class' value='Healer'><br>
    Sorceror <input type='radio' name='char_class' value='Sorceror'><br>
    Thief <input type='radio' name='char_class' value='Thief'><br>
    Bard <input type='radio' name='char_class' value="Bard"><br><br>
    <input type='submit' value='Create Character'>
</form>
<% if @char && @char.errors.any?%>
        <% @char.errors.full_messages.each do |e|%>
        <p class="danger"><%= e %></p>
    <% end %>
<% end %>