<%# list of characters %>
<%# <%@characters.each do%>
    <a href='/stats/<%=@char.id%>'><%=@char.char_name%></a><br/><br/>
<%# link to create new character %>
    <a href='/characters/new'>Create a new character</a>
<%# link to profile %>
    <a href='/users'>
