<%# user name %>    

<%# name*optional %>
<%# vital numbers: age, city, state %>
<%# headline/bio %>

<%# list of public campaigns %>
<h2>Show a user's profile<h2>

<a href='/character'>Characters</a>
