
.danger a{
    color: red;
}

body {
    background-color: rgb(226, 216, 216);
}

h1 {
    color: #008000;
}

h2{
    color: green;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }