<%# vital stats, form should probably only accept an integer %>
    <%# raise an error if invalid input %>
<%# weapons :: damage%>
<%# spells :: damage :: type %>

<%# features, abilities %>

<%# bio, background %>
<h2> store your character stats here</h2>
<form action='/stats' method="POST">
Might: <input type="number" name='might' id='might' step='1' min='3' max='18'>
    Bonuses: <input type="number" name='might_bonus' id='might_bonus' step='1'>  
<br><br>Agility: <input type="number" name='agility' id='guile' step='1' min='3' max='18'> 
    Bonuses: <input type="number" name='agility_bonus' id='agility_bonus' step='1'>
<br><br>Endurance: <input type="number" name='endurance' id='endurance' step='1' min='3' max='18'> 
    Bonuses: <input type="number" name='endurance_bonus' id='endurance_bonus' step='1'>
<br><br>Guile: <input type="number" name='guile' id='guile' step='1' min='3' max='18'> 
    Bonuses: <input type="number" name='guile_bonus' id='guile_bonus' step='1'>
<br><br>Wit: <input type="number" name='wit' id='wit' step='1' min='3' max='18'> 
    Bonuses: <input type="number" name='wit_bonus' id='wit_bonus' step='1'><br>
<br>
<%# programmatically assign these? such as blahblah.items.each do{|item| item.name, item.damage, box for bonuses}%>
Hit Points: <input type='number' name='hit_points' id='hit_points' step='1' min='1'><br><br>
Weapons: <input type='text' name='weapon' id='weapon'> 
    Damage: <input type='number' name='die_count' id='die_count' step='1' min='1' max='2'>:d:<input type='number' name='die_type' id='die_type' step='2' min='4' max='12'><br>
Spells: <input type='text' name='spell' id='spell' placeholder="Spell Name"> <br>
    Effect: <input type='text' name='effect1' id='effect2' placeholder='Spell Effect'>
Spells per day (based on your Wit or Guile Stat):<input type='number' name='per_day' id='per_day' step='1' min='0'>
<%# will programmatically assign checkboxes for spells per day. may need to create a new "item" MVC to account for this layer of complexity%>
<br>Class and Racial Features: 
<textarea name='features' id='features'></textarea>
<br>Character Background & Bio: <textarea name='bio' id='bio'></textarea>
</form>